@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
margin: 0;
padding: 0;    
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;


}
.logo{
    padding-left: 100px;
    font-weight: bolder;  
    padding-bottom: 10px;
}



.head{
    
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;
    box-sizing: border-box;
    background:transparent;
    font-weight: bolder;
    padding-left: 10vw;
    
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background:transparent;
}

.nav-li {
  float: left;
}

.link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.link:hover {
  background-color: #3b4358;
  border-radius: 30px;
}

.icon{
  display: inline-flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: 2px solid #fff;
  justify-content: center;
  align-items: center;
  transition-property:outline-offset,outline-color,background-color ;
  transition-duration: 0.25s;
}
.icon:hover{
  outline-offset: 4px;
}
.icon i{
  margin: auto;
}
.icon:hover i{
  animation:shake 0.25s ;
}
.icon--instagram:hover {
	background-image: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	outline-color: #a02d76;
}
.icon--mail:hover {
  background-color: #539bc2;
	outline-color: #1da1f2;
}
.icon--linkedin:hover {
	background-color: #0077b5;
	outline-color: #0077b5;
}
.icon--phone:hover {
	background-color: #2ea44f;
	outline-color: #2ea44f;
}



/* --------------------------------------------------------------- */
/* index.html css  */
 .main{
  min-height: 400px;
  max-width: 100%;
 }
 .img{
    
    max-width: 100%;
    min-height: 400px;
    background-image: url('../images/wall1.jpg');
    background-color: #bbb;
    background-repeat: no-repeat;
    background-attachment: cover;
    background-size: 100% 100%;
    
    
}


 .search-box{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #34495e;
    height: 80px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
 }
 .search-box:hover > .search-txt{
    width: 440px;
    height: 35px ;
    padding: 4px 6px;
    }
 .search-box:hover > .search-btn{
    background : white ;
    
    }
 .search-btn{
    color: #e74c3c;
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    background:#34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    
    
 }
 .search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;  
 }
 /* responsive*/
 @media only screen and (max-width: 828px){
   .search-box:hover > .search-txt{
      width: 125px;
      }
 }

 /* ----------------------------------- */
 .main2{
   min-height: 500px;
   max-width: 100%;
   margin: 0;
   margin-top: 5px;
   margin-bottom: 5px;
   
  }

.flip-card {
   background-color: transparent;
   width: 100%;
   height: 500px;
   perspective: 1000px;
   padding: 10px;
 }
 
 .flip-card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   transition: transform 0.6s;
   transform-style: preserve-3d;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   
 }
 
 .flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
 }
 
 .flip-card-front, .flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
 }
 
 .flip-card-front {

  border: 2px solid grey;
  border-radius:10%;
   

 }
 
 .flip-card-back {
  padding-top: 25px;
  border: 2px solid grey;
  border-radius:10%;
  transform: rotateY(180deg);
 }

 
.card-img{
  border-radius: 10%;
}

/* -------------------------------------------------------------- */

/* review.html css */

.review{
  margin: 0;
  margin-top:60px;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  /* background-color: #bbb; */
}
.rev1{
  min-height:80px;
  max-width: 100%;
  padding: 0;
  margin: 0%;
  
  
}
.rev1-rev2{
  margin-top: 10px;
  border: 5px solid black;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  padding-top: 8px;
  background-color: #3b4358;

}

.rev2{
  min-height:600px;
  max-width: 100%;
  padding: 0;
  margin: 0%;
  
}

.rev2-rev2{
  
  float: left;
  box-sizing: border-box;
  border: 5px solid grey;
  border-radius: 20px;
  box-shadow: 5px 10px 10px 5px rgb(4, 50, 58);
  
}

/* ----------------------- */
/* aboutus css */
.about{
  margin: 0;
  margin-top:60px;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  /* background-color: #bbb; */
}
.abt1{
  min-height:80px;
  max-width: 100%;
  padding: 0;
  margin: 0%;
  
  
}
.abt1-abt2{
  margin-top: 10px;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  padding-top: 12px;
  background-color: #3b4358;

}

.abt2{
  min-height:200px;
  max-width: 100%;
  padding: 0;
  margin: 0%;

  
}

.abt2-abt1{
  padding-top: 20px;
  padding-left: 40px;
  
}
.abt2-abt1-abt1{
  font-weight: 600;
  color: grey;
}

.abt2-abt1-abt2{
  text-align:justify ;
  padding-right:30px ;
}

.info{
  color:#34495e;
  font-weight: bolder;
}
.info1{
  text-align: justify;
  padding-right:20px ;
}

.smedia1{
  color: #e21122;
  margin-right: 20px;
}

.smedia2{
  color: #2d62d4;
  margin-right: 20px;
}
.smedia3{
  color: #000000;
  margin-right: 20px;
}
.smedia3{
  color: #15008b;
  margin-right: 20px;
}

.cform{
  padding-top: 12px;
}

.bg-ocolor{
  background-color:#34495e;
}