@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
margin: 0;
padding: 0;    
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;

}
.logo{
    padding-left: 100px;
    font-weight: bolder;  
    padding-bottom: 10px;
}

.img{
    
    max-width: 100%;
    min-height: 600px;
    background-image: url('../images/wall1.jpg');
    background-color: #bbb;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
    
}


.head{
    
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;
    box-sizing: border-box;
    background:transparent;
    font-weight: bolder;
    padding-left: 10vw;
    
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background:transparent;
}

.nav-li {
  float: left;
}

.link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.link:hover {
  background-color: #3b4358;
  border-radius: 30px;
}


/* --------------------------------------------------------------- */
/* index.html css  */
 .main{
  min-height: 400px;
  max-width: 100%;
 }

 .search-box{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #34495e;
    height: 80px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
 }
 .search-box:hover > .search-txt{
    width: 440px;
    height: 35px ;
    padding: 4px 6px;
    }
 .search-box:hover > .search-btn{
    background : white ;
    
    }
 .search-btn{
    color: #e74c3c;
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    background:#34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    
    
 }
 .search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;  
 }
 /* responsive*/
 @media only screen and (max-width: 828px){
   .search-box:hover > .search-txt{
      width: 125px;
      }
 }

 /* ----------------------------------- */
 .main2{
   min-height: 500px;
   max-width: 100%;
  }

.flip-card {
   background-color: transparent;
   width: 100%;
   height: 500px;
   perspective: 1000px;
   padding: 10px;
 }
 
 .flip-card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   transition: transform 0.6s;
   transform-style: preserve-3d;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 }
 
 .flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
 }
 
 .flip-card-front, .flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
 }
 
 .flip-card-front {

  border: 2px solid grey;
  border-radius:10%;
   

 }
 
 .flip-card-back {
  padding-top: 25px;
  border: 2px solid grey;
  border-radius:10%;
  transform: rotateY(180deg);
 }

 
.card-img{
  border-radius: 10%;
}